lab3/d1.cpp
lab3/d2.cpp
lab4/d1.cpp
oracice/gcd.cpp
oracice/a.exe
oracice/bs.cpp
oracice/gcd1.cpp
oracice/prime_fac.cpp
oracice/prime_fac1.cpp
oracice/queue.cpp
oracice/queue1.cpp
oracice/sieve.cpp
oracice/sieve1.cpp
oracice/stack.cpp
oracice/stack1.cpp
oracice/zachita2.cpp
oracice/zashita.cpp
.vscode/settings.json
lab1/a.exe
lab1/i.cpp
lab1/prime.cpp
lab2/a.exe
lab2/queue.cpp
lab2/stack.cpp
lab3/e1.cpp
lab4/a.exe
.vscode/settings.json
lab1/a.exe
lab1/i.cpp
lab1/prime.cpp
lab2/a.exe
lab2/queue.cpp
